{% extends "base.html" %}
{% block title %}DDoS Dashboard{% endblock title %}
{% block content %}
    <h1>DDoS Dashboard</h1>
    <hr/>
    <h3>Launch New Drawing</h3>
    <form action="/new" method="post">
        <div class="center">
            <label for="strokeLimit">Stroke Limit</label>
            <input name="strokeLimit" value='15' type="number">
            <label for="payment">Payment</label>
            <input name="payment" value='0.01' type="number" min="0" step="0.01">
            <br/>
            <br/>
            <div class="formfield">
                <label for="description">HIT Description</label>
                <textarea rows="5" columns="5" name="description" >Add a single line to this drawing: easy!</textarea>
            </div>
            <br/>
            <input type="submit" value="New Drawing">
        </div>
    </form>

    <br/><hr/>

    <h3>Drawings In-Progress</h3>
    <table>
        <tr>
            <th>Drawing ID</th>
            <th>Strokes</th>
            <th>Stroke Limit</th>
            <th>Payment</th>
            <th>Title</th>
            <th>Link</th>

        </tr>
    {% for drawing in in_progress %}
        <tr>
            <td>{{ drawing.key() }}</td>
            <td>{{ drawing.count }}</td>
            <td>{{ drawing.strokeLimit }}</td>
            <td>{{ drawing.payment }}</td>
            <td>{{ drawing.description}}</td>
            <td><a href="/view/{{ drawing.key() }}" target="_blank">view</a></td>
        </tr>
    {% else %}
        <tr><td colspan="6"><em>There are drawings in-progress</em></td></tr>
    {% endfor %}
    </table>

    </br><hr/>

    <h3>Completed Drawings | <a href="/gallery" target="_blank">Gallery</a></h3>
    <table>
        <tr>
            <th>Drawing ID</th>
            <th>Strokes</th>
            <th>Payment</th>
            <th>Description</th>
            <th>Link</th>
        </tr>
    {% for drawing in finished %}
        <tr>
            <td>{{ drawing.key() }}</td>
            <td>{{ drawing.count }}</td>
            <td>{{ drawing.payment }}</td>
            <td>{{ drawing.description }}</td>
            <td><a href="/view/{{ drawing.key() }}" target="_blank">view</a></td>
        </tr>
    {% else %}
        <tr><td colspan="5"><em>There are no drawings that are complete</em></td></tr>
    {% endfor %}
    </table>

{# links to done drawings | saved pngs | link to gallery #}
{% endblock content %}
