{% extends "base.html" %}
{% block title %}View Drawing{% endblock title %}
{% block content %}
    <h1>{{ drawing_id }}</h1>
    <canvas id="canvas" width="400" height="400" style="border:2px solid;"></canvas>
     <!-- load scripts -->
    <script type="text/javascript">
        var interval;
        var canvas, ctx = false;
        var canvas = document.getElementById('canvas');
        var ctx = canvas.getContext("2d");
        ctx.strokeStyle = "black";
        ctx.lineWidth = 2;

        var lines = JSON.parse('{{ lines|safe }}');
        lines.sort(function(a, b){
            return  new Date(a["date"]) - new Date(b["date"]) || a["index"] - b["index"];
        });

        var k = 0;

        function drawline () {
            var line = lines[k];
            ctx.beginPath();
            ctx.moveTo(parseInt(line.startX), parseInt(line.startY));
            ctx.lineTo(parseInt(line.endX), parseInt(line.endY));
            ctx.stroke();
            ctx.closePath();
            k++;
            if (k == lines.length) {
                clearInterval(interval);
            }
        }

        function draw_all () {
            for (var i=0;i<lines.length;i++) {
                var line = lines[i];
                ctx.beginPath();
                ctx.moveTo(parseInt(line.startX), parseInt(line.startY));
                ctx.lineTo(parseInt(line.endX), parseInt(line.endY));
                ctx.stroke();
                ctx.closePath();
            }
        }

        function clear () {
            clearInterval(interval);
            k = 0;
            // Store the current transformation matrix
            ctx.save();

            // Use the identity matrix while clearing the canvas
            ctx.setTransform(1, 0, 0, 1, 0, 0);
            ctx.clearRect(0, 0, canvas.width, canvas.height);

            // Restore the transform
            ctx.restore();
        }

        $(function(){
            draw_all();
            $('#canvas')
                .mouseover(function (){
                    clear();
                    interval = setInterval("drawline()", 10);
                })
                .mouseout( function () {
                    clear();
                    draw_all();
                });
        });
    </script>
{% endblock content %}