{% extends "base.html" %}
{% block title %}View Drawing{% endblock title %}
{% block content %}
    <h1>Read only view: {{ drawing_id }}</h1>
    <canvas id="canvas" width="400" height="400" style="border:2px solid;"></canvas>
     <!-- load scripts -->
    <script src="/static/jquery-2.1.0.min.js"></script>
    <script type="text/javascript">
        var canvas, ctx = false;
        var canvas = document.getElementById('canvas');
        var ctx = canvas.getContext("2d");
        ctx.strokeStyle = "black";
        ctx.lineWidth = 2;

        var lines = JSON.parse('{{ lines|safe }}');
        lines.sort(function(a, b){
            return  b["id"] - a["id"] || a["index"] - b["index"];
        });

        var k = 0;

        function drawline () {
            var line = lines[k];
            ctx.beginPath();
            ctx.moveTo(parseInt(line.startX), parseInt(line.startY));
            ctx.lineTo(parseInt(line.endX), parseInt(line.endY));
            ctx.stroke();
            ctx.closePath();
            k++;
            if (k == lines.length) {
                clearInterval(interval);
            }
        }
        $(function(){
            interval = setInterval("drawline()", 69);
        });
    </script>
{% endblock content %}