{% extends "base.html" %}
{% block title %}View Drawing{% endblock title %}
{% block content %}
    <h1>Read only view: {{ drawing_id }}</h1>
    <canvas id="canvas" width="400" height="400" style="border:2px solid;"></canvas>
     <!-- load scripts -->
    <script src="/static/jquery-2.1.0.min.js"></script>
    <script type="text/javascript">
        var canvas, ctx = false;
        var canvas = document.getElementById('canvas');
        var ctx = canvas.getContext("2d");
        var w = canvas.width;
        var h = canvas.height;
        var x = "black", y = 2;

        $(function() {
            var lines = JSON.parse('{{ lines|safe }}')
            draw(lines);
        });
        function draw(lines) {
            for (k in lines) {
                var line = lines[k]
                ctx.beginPath();
                ctx.moveTo(parseInt(line.startX), parseInt(line.startY));
                ctx.lineTo(parseInt(line.endX), parseInt(line.endY));
                ctx.strokeStyle = x;
                ctx.lineWidth = y;
                ctx.stroke();
                ctx.closePath();
            }
        }
    </script>
{% endblock content %}